.card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.listing-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex: 0 1 24%;
    border: 1px solid #eceff9;
    box-sizing: border-box;
    box-shadow: 0px 8px 10px rgba(162, 172, 188, 0.15);
    border-radius: 20px;
}

.listing-icon {
    height: 1.5rem;
}

.listing-social-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 992px) {
    .listing-card {
        flex: 0 1 32%
    }
}

@media(max-width: 768px) {
    .listing-card {
        flex: 0 1 49%
    }
}

@media(max-width: 576px) {
    .listing-card {
        flex: 0 1 99%
    }
}